@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-lightprimary: #feebf6;
  --color-lightsecondary: #fcd8cd;
  --color-lightternary: #ebd6fb;
  --color-lightgrey: #3c3d37;
  --color-darkprimary: #181c14;
  --color-darksecondary: #2b2b2b;
  --color-darkternary: #3c2a21;
  --color-darkgrey: #bbbbbb;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* IE / old Edge */
body {
  -ms-overflow-style: none;
}
